@media screen and (min-width: 576px) {

  /* Increase profile pic size as screen width increases */
  .profile__pic {
    height: 80px;
    width: 80px;
  }

  /* Change card style on wider devices */
  .app_theme__card {
    border-radius: .25em;
  }
}

@media screen and (min-width: 768px) {

  /* Increase profile pic size as screen width increases */
  .profile__pic {
    height: 88px;
    width: 88px;
  }
}

@media screen and (min-width: 992px) {

  /* Increase profile pic size as screen width increases */
  .profile__pic {
    height: 96px;
    width: 96px;
  }
}
